.button {
  display: block;
  font-weight: 700;
  font-family: $roboto-condensed;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  outline: none;
}
