.footer {
  color: rgba($secondary, 0.5);
  background-color: $basic-white;
  padding-top: 65px;
  overflow: hidden;

  @media (max-width: $large) {
    padding-top: 19px;
  }

  @media (max-width: $medium) {
    padding-top: 46px;
  }
}

.footer__top {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 57px;

  @media (max-width: $large) {
    padding-bottom: 16px;
  }

  @media (max-width: $large) {
    padding-bottom: 10px;
  }

  &::after {
    @media (min-width: $medium + 1) {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100vw;
      height: 1px;
      background-color: rgba($line, 0.2);
      margin-left: -50vw;
    }
  }
}

.footer__links {
  flex: 0 1 23.9%;
  margin-left: 1px;

  @media (max-width: $large) {
    flex: 0 1 100%;
    margin-bottom: 38px;
    margin-left: 0;
  }

  @media (max-width: $medium) {
    flex-direction: column;
    margin: auto;
  }
}

.footer__logo {
  margin-bottom: 54px;
  max-width: 217px;

  @media (max-width: $large) {
    margin-bottom: auto;
  }

  @media (max-width: $medium) {
    margin: 0 auto 10px;
    max-width: unset;
  }
}

.footer__inner {
  @media (max-width: $large) {
    flex: 0 1 50%;
    margin-right: auto;
    margin-left: 0;
    padding-bottom: 26px;
    min-width: unset;
  }

  @media (max-width: $medium) {
    position: relative;
    flex: 0 1 100%;
    max-width: 400px;
    margin-left: auto;
    padding-top: 19px;
    padding-bottom: 18px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100vw;
      height: 1px;
      background-color: rgba($line, 0.2);
      margin-left: -50vw;
    }
  }
}

.footer__inner:nth-child(2n + 2) {
  @media (min-width: $large + 1) {
    flex: 0 1 45%;
    margin-left: auto;
    padding: 0 calc(2.25%);
    min-width: 460px;
  }
}

.footer__inner:nth-child(2n + 3) {
  @media (min-width: $large + 1) {
    flex: 0 1 23.9%;
    margin-left: auto;
  }

  @media (min-width: $medium + 1) and (max-width: $large) {
    padding-left: 15px;
  }
}

.footer__inner h2 {
  margin: 0 auto 26px 2px;
  font-weight: 400;
  font-family: $roboto-condensed;
  font-size: 15px;
  line-height: 16px;
  color: $secondary;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (max-width: $medium) {
    margin: 0;
    padding: 10px 0;
  }
}

.footer__inner a {
  font-size: 15px;
  line-height: 25px;
  color: inherit;
  outline: none;
}

.footer__inner a:hover,
.footer__inner a:focus {
  color: lighten($secondary, 15%);
}

.footer__inner a:active {
  color: lighten($secondary, 10%);
}

.footer__bottom,
.footer__rights,
.footer__confidential {
  display: flex;
  flex-wrap: wrap;
}

.footer__bottom {
  align-items: flex-start;

  @media (max-width: $large) {
    padding: 7px 0 10px;
  }

  @media (max-width: $medium) {
    padding: 8px 0 17px;
  }
}

.footer__bottom p {
  margin: 14px 0;
  min-width: 197px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (max-width: $medium) {
    margin: 10px 0;
  }
}

.footer__rights,
.footer__confidential {
  min-width: 430px;
}

.footer__rights {
  flex: 0 1 32.4%;
  justify-content: space-between;

  @media (max-width: $large) {
    display: none;
  }
}

.footer__confidential {
  flex: 0 1 42.6vw;
  margin-left: auto;

  @media (max-width: $large) {
    flex: 0 1 100%;
    margin-right: auto;
  }

  @media (max-width: $medium) {
    min-width: unset;
    text-align: center;
  }
}

.footer__confidential p {
  flex: 0 1 49.7%;

  @media (max-width: $medium) {
    flex: 0 1 50%;
    margin: 10px auto;
    min-width: 250px;
  }
}

.footer__confidential p:nth-child(2n + 2) {
  @media (min-width: $medium + 1) {
    text-align: right;
  }
}

.footer__confidential a {
  color: inherit;
  outline: none;
}

.footer__bottom a:hover,
.footer__bottom a:focus {
  color: lighten($secondary, 15%);
}

.footer__bottom a:active {
  color: lighten($secondary, 10%);
}
