.logo {
  display: block;
  outline: none;
}

.logo__chart {
  float: left;
  color: $primary;

  @media (max-width: $medium) {
    width: 38px;
    height: 38px;
  }
}

.logo__smd {
  @media (max-width: $medium) {
    display: none;
  }
}

.logo[href]:hover .logo__chart,
.logo[href]:focus .logo__chart {
  color: lighten($primary, 15%);
}

.logo[href]:active .logo__chart {
  color: lighten($primary, 10%);
}

.logo[href]:hover .logo__smd,
.logo[href]:hover .logo__sd,
.logo[href]:focus .logo__smd,
.logo[href]:focus .logo__sd {
  opacity: 0.9;
}

.logo[href]:active .logo__smd,
.logo[href]:active .logo__sd {
  opacity: 0.7;
}
