.page {
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35;
  font-family: $pt-mono;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  color: $basic-grey;
  background-color: $secondary;

  &--scroll-lock {
    height: 100vh;
    background-color: $basic-black;
    overflow: hidden;
  }
}

.page__container {
  margin: 0 auto;
  padding: 0 51px;

  @media (min-width: $large + 1) {
    max-width: 1520px;
  }

  @media (max-width: $large) {
    padding: 0 25px;
  }

  @media (max-width: $medium) {
    padding: 0 15px;
  }

  &--footer {
    @media (max-width: $medium) {
      padding: 0;
      max-width: 575px;
    }
  }
}
