.request {
  padding-top: 71px;
  padding-bottom: 71px;
  color: $basic-white;
  background-color: $primary;
  background-image:
    url("/img/plane.png"),
    url("data:image/svg+xml,%3Csvg width='1845' height='765' viewBox='0 0 1845 765' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M1821.26 509.5L1543.01 670.148L1543.01 348.852L1821.26 509.5Z' stroke='white'/%3E%3Cpath opacity='0.2' d='M1468.91 255.136L1643.25 154.48L1643.25 355.793L1468.91 255.136Z' stroke='white'/%3E%3Cpath opacity='0.2' d='M347.148 357.75L186.5 636L25.8523 357.75L347.148 357.75Z' stroke='white'/%3E%3Ccircle cx='26' cy='358' r='5' fill='white'/%3E%3Ccircle cx='187' cy='636' r='5' fill='white'/%3E%3Cpath opacity='0.2' d='M626.842 159.584L352.167 635.334L77.4923 159.584L626.842 159.584Z' stroke='white'/%3E%3Ccircle cx='77' cy='159' r='5' fill='white'/%3E%3Ccircle cx='352' cy='635' r='5' fill='white'/%3E%3Ccircle cx='627' cy='159' r='5' fill='white'/%3E%3C/svg%3E");
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    350px 161px,
    175px -60px;

  @media (max-width: $large) {
    padding-top: 59px;
    padding-bottom: 61px;
    background-image: none;
  }

  @media (max-width: $medium) {
    padding-top: 9px;
    padding-bottom: 20px;
  }
}

.request__inner {
  margin-right: 99px;
  margin-left: auto;
  padding: 0 25px;
  max-width: 620px;
  background-color: $primary;

  @media (max-width: $large) {
    margin-right: auto;
    padding: 0 12px 0 17px;
  }

  @media (max-width: $medium) {
    padding: 0;
    max-width: 575px;
  }
}

.request__inner h2 {
  margin: 20px auto 10px -4px;
  font-weight: 400;
  font-family: $roboto-condensed;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $large) {
    margin-bottom: 17px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $medium) {
    margin-bottom: 14px;
    margin-left: 0;
    font-size: 28px;
    line-height: 39px;
  }
}

.request__inner p {
  margin: 10px auto;
  line-height: 22px;
}
