.toggle {
  display: none;
  margin: 0;
  padding: 0;
  color: rgba($secondary, 0.5);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &--button-plus,
  &--button-minus {
    @media (max-width: $medium) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 73px;
    }
  }
}

.toggle__icon-plus,
.toggle__icon-minus {
  display: none;
}

.toggle--button-plus .toggle__icon-plus {
  display: block;
  margin: auto 17px auto auto;
}

.toggle--button-minus .toggle__icon-minus {
  display: block;
  margin: auto 17px auto auto;
}

.toggle:hover,
.toggle:focus {
  color: lighten($secondary, 15%);
}

.toggle:active {
  color: darken($secondary, 3%);
}

.toggle:hover + h2,
.toggle:focus + h2 {
  color: lighten($secondary, 15%);
}

.toggle:active + h2 {
  color: darken($secondary, 3%);
}
