// font
$pt-mono: "PT Mono", "Courier New", monospace;
$roboto-condensed: "Roboto Condensed", "Helvetica", sans-serif;

// colors
$primary: #00b2ff;
$secondary: #1b2d37;
$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #666666;

//Viewport
$large: 1023px;
$medium: 767px;

//Position
$z-index-popup: 3;
